<div id="bodyRightSide">
    <!-- start -->

        

 

    <!-- end -->
   <div id="hacktoberDiv">
       <img src="assets/images/Image3_HacktoberFest.png" alt="">
   </div>


  


   <div class="rightSidePost">
       <div class="rightSidePost_heading">
           <h3>Listings</h3>
           <h5>see all</h5>
       </div>

       <div class="rightSidePost_contentListDiv">
           <h4>
               ⚡fquery - a new and powerful solution
               for fetching data in your flutter apps
           </h4>
           <h5>
               collabs
           </h5>
       </div>
       <div class="rightSidePost_contentListDiv">
           <h4>
               ✍️L Learning the JavaScript DOM? Enrol
               in This Course
           </h4>
           <h5>
               education
           </h5>
       </div>
       <div class="rightSidePost_contentListDiv">
           <h4>
               Engineering Leadership in Big Tech
           </h4>
           <h5>
               education
           </h5>
       </div>
       <div class="rightSidePost_contentListDiv">
           <h4>
               How real is Apple's realityOS?
           </h4>
           <h5>
               misc
           </h5>
       </div>

       <div class="rightSidePost_contentListDiv">
           <h4>
               Learn the skills needed to become a
               SDET
           </h4>
           <h5>
               education
           </h5>
       </div>

       <div id="createListing">Create a Listing</div>


   </div>
















   <div class="rightSidePost ">
       <div class="rightSidePost_heading">
           <h3> #help</h3>

       </div>

       <div class="rightSidePost_contentListDiv">
           <h4>

               Sanity io won't work in firefox browser
           </h4>
           <h5>
               1 comment
           </h5>
       </div>
       <div class="rightSidePost_contentListDiv">
           <h4>
               🔴Live Q&A session on Discord
           </h4>
           <h2> New</h2>
       </div>
       <div class="rightSidePost_contentListDiv">
           <h4>
               Tuesday, 11 at 6:00 PM CEST with Nicolas
               Rabault.
           </h4>

           <h2> New</h2>
       </div>
       <div class="rightSidePost_contentListDiv">
           <h4>
               Youtube Video-Music Choice
           </h4>
           <h5>
               1 comment
           </h5>
       </div>

       <div class="rightSidePost_contentListDiv">
           <h4>
               Help with a .net core api architecture
           </h4>
           <h5>
               4 comments
           </h5>
       </div>

       <div class="rightSidePost_contentListDiv">
           <h4>
               Asking for Feedback: Self-hosted open
               source tool for API Testing and

           </h4>
           <h5 style="margin-bottom:0px;">
               Monitoring

           </h5>
           <h2> New</h2>

       </div>




   </div>

</div>
