<!-- <div class="container mt-5">
<div class="row mt-5">
   
    <div class="col-xs-12 col-md-6 col-md-offset-3 mt-5">
    
        <div class="alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
           
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="authSubmit(authForm)" *ngIf="!isLoading">
            <div *ngIf="!isLoginMode" class="form-group ">
                <label for="name">Name</label>
                <input type="text" id="name" ngModel name="name" required minlength="6"  class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" ngModel name="email" required email   class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" ngModel name="password" required minlength="8"  class="form-control">
            </div>
            <hr>
            <div class="form-group">
               <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign up' }}</button> |
                <button class="btn btn-primary" (click)="onSwitch()" type="button">Switch to {{ isLoginMode ? 'Register' : 'Login'}}</button>
             </div>
        </form>
    </div>
</div>

</div> -->




<!-- component -->
<!-- This is an example component -->
<div class="font-sans" *ngIf="!otpStart">
   
    <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
        <div class="relative sm:max-w-sm w-full">
                    
            <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6">
                
            </div>
            <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                <img style="height: 159px;" class="iconHeader"  src="assets/images/codemonkey-logo.png"
                alt="">
                <label for="" class="block mt-3 text-2xl text-gray-700 text-center font-semibold">
                    {{ isLoginMode ? 'Login' : 'Register' }}
                </label>
                <div class="alert alert-danger" *ngIf="error">
                    <p>{{error}}</p>
                   
                </div>
                <div *ngIf="isLoading" style="text-align: center;">
                  <app-loading-spinner></app-loading-spinner>
                </div>
                <form #authForm="ngForm" (ngSubmit)="authSubmit(authForm)" *ngIf="!isLoading" class="mt-10">
                    
                    <div *ngIf="!isLoginMode">
                        <input  type="text" id="name"  #nameInput="ngModel"   ngModel name="name" required minlength="6"   placeholder="Enter your name" class="mt-1 px-2 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-gray-200 focus:bg-gray-200 focus:ring-0">
                        <small style="color: red;" *ngIf="!nameInput.valid && (nameInput.touched || showErrors )">Please enter valid name</small>
                    </div>
                    
                    <div  class="mt-7" >
                        <input  type="email" #email="ngModel"  id="email" ngModel name="email" required email   placeholder="Enter your email" class="mt-1 px-2 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-gray-200 focus:bg-gray-200 focus:ring-0">
                        <small style="color: red;" *ngIf="!email.valid && (email.touched || showErrors) " >Please enter valid email</small>
                    </div>
        
                    <div class="mt-7">                
                        <input type="password" #password="ngModel"  id="password" ngModel name="password" required minlength="8" placeholder="Enter your password" class="mt-1 px-2  block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-gray-200 focus:bg-gray-200 focus:ring-0">   
                        <small style="color: red;" *ngIf="!password.valid && (password.touched || showErrors) ">Please enter valid password</small>                        
                    </div>

                    

                    <div class="mt-7 flex">
                        <label for="remember_me" class="inline-flex items-center w-full cursor-pointer">
                            <input id="remember_me" type="checkbox" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="remember">
                            <span class="ml-2 text-sm text-gray-600">
                                remember me
                            </span>
                        </label>
        
                       <div class="w-full text-right">     
                            <a class="underline text-sm text-gray-600 hover:text-gray-900" href="#">
                                forget password?
                            </a>                                  
                       </div>
                    </div>
        
                    <div  class="mt-7">
                        <div class="h-100" (click)="valid(!authForm.valid)">
                        <button  type="submit" [disabled]="!authForm.valid"  class="bg-blue-500  w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                            {{ isLoginMode ? 'Login' : 'Sign up' }}
                        </button>
                    </div>
                    </div>
        
                    <div class="flex mt-7 items-center text-center">
                        <hr class="border-gray-300 border-1 w-full rounded-md">
                        <label class="block font-medium text-sm text-gray-600 w-full">
                            Or
                        </label>
                        <hr class="border-gray-300 border-1 w-full rounded-md">
                    </div>
        
                    <div class="flex mt-7 justify-center w-full">
                        <!-- <button class="mr-5 bg-blue-500 border-none px-4 py-2 rounded-xl cursor-pointer text-white shadow-xl hover:shadow-inner transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                            
                            Facebook
                        </button> -->
        
                        <!-- <button class="bg-red-500 border-none px-4 py-2 rounded-xl cursor-pointer text-white shadow-xl hover:shadow-inner transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                            
                            Google
                        </button> -->
                        <asl-google-signin-button *ngIf="!user"></asl-google-signin-button>
                        <!-- <div *ngIf="user">
                             <img src="{{user.photoUrl}}" alt="user">
                             <div>
                                <h4>{{user.name}}</h4>
                                <p>{{user.email}}</p>
                             </div>
                        </div> -->
                    </div>
        
                     <div class="mt-7">
                        <div class="flex justify-center items-center">
                            <label class="mr-2" >{{ isLoginMode ? 'new user?' : 'Already user?'}}</label>
                            <a (click)="onSwitch()" class=" text-blue-500 transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                {{ isLoginMode ? 'Register' : 'Login'}}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>

<app-otp *ngIf="otpStart"></app-otp>

