<section>
    <div id="container" class="container">
        <img  src="https://cdn.pixabay.com/photo/2020/01/02/16/38/chatbot-4736275_960_720.png" height="400vh" alt="Chatbot clipart">
       
         <div id="chat" class="chat">
          <div id="messages" class="messages">
            <div *ngIf="res.length>0">
                <div *ngFor="let r of res">
            <p [innerHTML]="r"></p>
        </div>
        </div>
          </div>
          <input id="input" [(ngModel)]="messageText" (keyup.enter)="sendMessage()" type="text" placeholder="Write something..." autocomplete="off" autofocus="true" />
        </div>
      </div>
</section>
